// colors
$body-bg-color: #E3F4FC;
$user-inp-div-bg-color: #FCFFFF;
$user-input-main-color: #071D2A;
$user-input-second-color: #708188;
$submit-btn-color: #D8DD2B;
$blue-btn-color: #E3F4FE;
$radio-btn-bg-color: #FAFAE0;
$radio-btn-sel-rad-color: #D6D839;
$result-bg-color: #133040;
$result-monthly-text-color: #D8DD4F;
$result-main-text-color: #F4FCFF;
$result-digital-bg-color: #0E2431;
$result-second-text-color: #889FAD;
$invalid-color: #D73329;

// 